header {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #ccc;
    

    h1 {
        flex-grow: 1;
        text-transform: uppercase;

        a { color:#000 }
    }

    button {
        flex-basis: auto;
    }
}