<header>
    <h1><a [routerLink]="['/']">The Greatest App</a></h1>

    <ng-container *ngIf="user$ | async as userProfile; else tplNotLoggedIn">
        <span><a [routerLink]="['/profile', userProfile.uid]">{{ userProfile.email }}</a></span>
        <button (click)="logout()">Log out</button>
    </ng-container>
    <ng-template #tplNotLoggedIn>
        <button (click)="register()">Register</button>
        <button (click)="login()">Log in</button>
    </ng-template>

</header>

<router-outlet></router-outlet>
